@charset "UTF_8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#titulo{
    font-family: "Roboto Condensed";
}

#texto{
    font-family: "Work Sans";
}

#nomes{
    font-family: "Oswald";
}